<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
	<connectionStrings>
  <add name="PetShopConnectionString" connectionString="Data Source=ZOM;Initial Catalog=PetShop;User ID=sa;Password=Palm_sa!; MultipleActiveResultSets=true;"
   providerName="System.Data.SqlClient" />
  
		<add name="DBManager.Properties.Settings.PetShopConnectionString"
   connectionString="Data Source=zom;Initial Catalog=PetShop;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>